<div class="container col-md-6">
    <div class="card">
        <div class="card-header">
            <h3>Agregar Bloques</h3>
        </div>
            <div class="card-body">
                <form action="">
                    <div class="form-group">
                        <label for="">Nombre del Bloque:</label>
                        <input [(ngModel)]="bloque.nameb"  name="name" type="text" class="form-control"/>
                    </div>
                    <button (click)="Guardarb()" class="btn btn-danger">Guardar</button>
                </form>
            </div>
    </div>
</div>
